button:not(.unstyled),
.button:not(.unstyled), /* used for link */
input:not(.unstyled),
textarea:not(.unstyled),
select:not(.unstyled) {
  @mixin ui-font;

  width: 100%;
  transition: all var(--speed);
  line-height: var(--ui-line-height);
  border: var(--border);
  border-radius: var(--button-border-radius);
  background: var(--button-background);
  padding: var(--ui-padding-y) var(--ui-padding-x);
  user-select: none;
  text-transform: var(--ui-text-transform);
  display: flex;
  height: var(--form-item-height);

  &:-internal-autofill-selected {
    background: inherit;
    background-image: none !important;
  }

  &:--highlight {
    outline: none;
    border-color: var(--button-border-color-highlight);
    background: var(--button-background-highlight);
  }

  &::placeholder,
  &::-ms-input-placeholder {
    text-transform: var(--ui-text-transform);
    color: var(--ui-placeholder-color);
    opacity: 1;
  }

  &.small {
    padding: calc(var(--ui-padding-y) / 2) calc(var(--ui-padding-x) / 2);
    height: var(--form-item-height-sm);
  }
}

input:not(.unstyled),
textarea:not(.unstyled) {
  text-transform: var(--input-text-transform);
}

.form-item {
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  background: var(--background);
  width: 100%;
  max-width: -webkit-fill-available;

  input,
  textarea,
  select {
    border: none;
  }

  &:has(input:hover),
  &:has(input:focus) {
    background: var(--button-background-highlight);
    border-color: var(--button-border-color-highlight);
  }

  .prefix,
  .suffix {
    padding: 0 var(--ui-padding-x);
    color: var(--muted);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .prefix {
    border-right: var(--button-border);
  }
  .suffix {
    border-left: var(--button-border);
  }
}

select:not(.unstyled),
select:not(.unstyled):--highlight {
  appearance: none;
  line-height: 1;
  background:
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiPjwvcG9seWxpbmU+PC9zdmc+),
    var(--button-background);
  background-repeat: no-repeat, no-repeat;
  background-position:
    calc(100% - var(--size-4)) 50%,
    0% 0%;
  background-size:
    var(--size-4),
    100% 100%;
  padding-right: var(--size-7) !important;

  &.small {
    background-position:
      calc(100% - var(--size-2)) 50%,
      0% 0%;
  }
}

.radio.form-group {
  display: flex;
  gap: var(--spacer-sm);

  input {
    width: min-content;

    &:not(:first-of-type) {
      margin-left: var(--spacer-sm);
    }
  }

  label,
  input {
    display: inline;
  }
}

form {
  display: grid;
  gap: var(--spacer);
}

.form-group {
  display: grid;
  gap: var(--spacer-sm);
}

form label,
label.form-label,
label:has(.form-item) {
  @mixin ui-font;
  transition: all var(--speed);
  display: grid;
  gap: var(--size-2);

  &:hover {
    color: var(--color);
  }

  a {
    text-decoration: underline;
  }

  > span:first-child {
    display: block;
  }
}

.prose-input {
  span {
    width: 100%;
  }

  [data-empty] {
    color: var(--muted);
  }

  input,
  textarea,
  input:--highlight,
  textarea:--highlight {
    border: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    background: inherit;
    letter-spacing: inherit;
    min-height: 0;

    &[hidden] {
      display: none;
    }
  }
}
