.ui {
  @mixin ui-font;
}

.muted {
  color: var(--muted);
}

.font-sm {
  font-size: var(--font-sm);
}

.visible-md {
  display: none !important;

  @media (--md) {
    display: initial !important;
  }
}
