.ui {
  @mixin ui-font;
}

.muted {
  color: var(--muted);
}

.font-sm {
  font-size: var(--font-sm);
}

.visible-sm {
  display: none !important;

  @media (--sm) {
    display: initial !important;

    &.flex {
      display: flex !important;
    }
    &.inline-flex {
      display: inline-flex !important;
    }
  }
}

.visible-md {
  display: none !important;

  @media (--md) {
    display: initial !important;

    &.flex {
      display: flex !important;
    }
    &.inline-flex {
      display: inline-flex !important;
    }
  }
}
