:root {
  --button-border: var(--border);
  --button-border-radius: var(--border-radius);
}

.light,
.dark,
:root {
  --button-background: var(--background);
  --button-background-highlight: var(--background);
  --button-border-color-highlight: var(--primary);
  --button-color: var(--ui-color);

  --button-icon-color: var(--muted);
  --button-icon-color-highlight: var(--primary);
  --button-color-highlight: var(--primary);
}
